<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Data</title>
</head>
<body>
    <h1>Student Data</h1>
    <table>
        <tr>
            <th>IDs</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>GPA</th>
            <th>Level</th>
            <th>Address</th>
        </tr>
        <tr th:each="student : ${students}">
            <td th:text="${student.getId()}"></td>
            <td th:text="${student.getFirstName()}"></td>
            <td th:text="${student.getLastName()}"></td>
            <td th:text="${student.getGender()}"></td>
            <td th:text="${student.getGPA()}"></td>
            <td th:text="${student.getLevel()}"></td>
            <td th:text="${student.getAddress()}"></td>
        </tr>
    </table>
</body>
</html>
