<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Data Form</title>
</head>
<body>
<nav style="padding: 1rem">
    <a href="/display-xml-data" style="text-decoration: none; padding: 0.5rem 1rem; border: 1px solid #000; border-radius: 10px; font-family: 'sans-serif'; color: #000">Display Students</a>
    <a href="/search-xml-data" style="text-decoration: none; padding: 0.5rem 1rem; border: 1px solid #000; border-radius: 10px; font-family: 'sans-serif'; color: #000">Search</a>
    <a href="/store-xml-data" style="text-decoration: none; padding: 0.5rem 1rem; border: 1px solid #000; border-radius: 10px; font-family: 'sans-serif'; color: #000">Add Student</a>
</nav>
<form th:action="@{/store-xml-data}" method="GET">
    Enter the number of students: <input type="number" name="numStudents"><br>
    <input type="submit" value="Enter Data">
</form>

<!-- Display student data input fields based on the number of students -->
<th:block th:if="${numStudents != null}">
    <form th:action="@{/store-xml-data}" method="POST">
<!--        <th:each items="${#numbers.sequence(1, numStudents)}" var="studentNumber">-->
            <div>
                <input type="hidden" name="numStudents" th:value="${numStudents}" />
                <h2>Student <span th:text="${count}"></span> Data</h2>
                ID: <input type="text" th:name="'id'"><br>
                First Name: <input type="text" th:name="'firstName'"><br>
                Last Name: <input type="text" th:name="'lastName'"><br>
                Gender: <input type="text" th:name="'gender'"><br>
                GPA: <input type="text" th:name="'gpa'"><br>
                Level: <input type="text" th:name="'level'"><br>
                Address: <input type="text" th:name="'address'"><br>
            </div>
<!--        </th:each>-->
        <input type="Submit" value="Next">
    </form>
</th:block>
</body>
</html>
