<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Data Form</title>
</head>
<body>
<nav style="padding: 1rem">
    <a href="/display-xml-data" class="nav" >Display Students</a>
    <a href="/search-xml-data"  class="nav" >Search</a>
    <a href="/store-xml-data" class="nav" >Add Student</a>
</nav>
<form th:action="@{/store-xml-data}" method="GET" style="padding: 1rem">
    Enter the number of students: <input type="number" name="numStudents"><br>
    <input type="submit" value="Enter Data">
</form>
<div th:if="${errorMsg != null}" th:text="${errorMsg}" style="color: red"></div>

<!-- Display student data input fields based on the number of students -->
<th:block th:if="${numStudents != null}">
    <form th:action="@{/store-xml-data}" method="POST">
<!--        <th:each items="${#numbers.sequence(1, numStudents)}" var="studentNumber">-->
            <div class="form">
                <input type="hidden" name="numStudents" th:value="${numStudents}" />
                <h2> <span th:text="${numStudents}"></span> Students </h2>
                ID:<input type="text" th:name="'id'" class="inputData"><br>
                First Name: <input type="text" th:name="'firstName'" class="inputData"><br>
                Last Name: <input type="text" th:name="'lastName'" class="inputData"><br>
                Gender: <input type="text" th:name="'gender'" class="inputData"><br>
                GPA: <input type="text" th:name="'gpa'" class="inputData"><br>
                Level: <input type="text" th:name="'level'" class="inputData"><br>
                Address: <input type="text" th:name="'address'" class="inputData"><br>
            </div>
<!--        </th:each>-->
        <input type="Submit" value="Next" style="margin: 1rem">
    </form>
</th:block>
</body>
</html>
<style>
    .inputData {
        display: block;
        margin: 3px 0;
    }
    .form{
        padding: 1rem;
    }
    .nav{
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        font-family: 'sans-serif';
        background-color: #4e6974;
        color: white;
    }
    .nav:hover{
        background-color:  #f2f2f2;
        color:#4e6974;
    }


</style>